  <!-- Call To Action Area Start -->
<section class="akame-cta-area bg-gray section-padding-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-xl-5">
                <div class="cta-content">
                    <h2>Make Stilo Your <br>Number One Choice</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la.</p>
                    <div class="akame-btn-group mt-30">
                        <a href="javascript:void(0)" name="btnContact" class="btn akame-btn active mr-3 mb-3 mb-sm-0">Liên hệ</a>
                        @*<a href="#" class="btn akame-btn">Contact Us</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CTA Thumbnail -->
    <div class="cta-thumbnail bg-img" style="background-image: url(/Templates/akame/img/bg-img/cta.png);"></div>
</section>
<!-- Call To Action Area End -->