@if (ViewBag.Action == "Create")
{
    <div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
        <div class="btn btn-app btn-xs btn-grey ace-settings-btn open" id="ace-settings-btn">
            <i class="ace-icon fa fa-cog bigger-130"></i>
        </div>

        <div class="ace-settings-box clearfix open" id="ace-settings-box">
            <!-- /.pull-left -->
            <div class="bg-rightbox">
                <div class="clearfix lineButton">
                    <div class="col-md-12 input-group">
                        <button class="btn btn-success" type="button" id="Countinue">
                            <i class="ace-icon fa fa-refresh bigger-110"></i>
                            Lưu
                        </button>
                        <button class="btn btn-info" type="button" id="CountinueAndClose">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Lưu và thoát
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Nhập lại
                        </button>
                        <a href="javascript:void(0)" class="btn btn-yellow" id="btnBackToHome">
                            <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                            Quay lại
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.pull-left -->
        </div><!-- /.ace-settings-box -->
    </div>
}

@if (ViewBag.Action == "Update")
{
    <div class="ace-settings-container" id="ace-settings-container" style="position: fixed; top: 155px;">
        <div class="btn btn-app btn-xs btn-grey ace-settings-btn open" id="ace-settings-btn">
            <i class="ace-icon fa fa-cog bigger-130"></i>
        </div>

        <div class="ace-settings-box clearfix open" id="ace-settings-box">
            <!-- /.pull-left -->
            <div class="bg-rightbox">
                <div class="clearfix lineButton">
                    <div class="col-md-12 input-group">
                        @*<button class="btn btn-success" type="button" id="Countinue">
                            <i class="ace-icon fa fa-refresh bigger-110"></i>
                            Lưu
                        </button>*@
                        <button class="btn btn-info" type="button" id="CountinueAndClose">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Lưu
                        </button>
                        <button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Nhập lại
                        </button>
                        <a href="javascript:void(0)" class="btn btn-yellow" id="btnBackToHome">
                            <i class="ace-icon fa fa-chevron-circle-left bigger-110"></i>
                            Quay lại
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.pull-left -->
        </div><!-- /.ace-settings-box -->
    </div>
}
