@{
    ViewBag.Title = "Home Page";

}

<div class="row">
    
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $(".page_home").addClass("active");

            
        });
    </script>
    }