@* AUTO GENCODE SYSTEM - 04/06/2019 15:12*@
@using Kztek.Model.Models
@using Kztek.Model.CustomModel
@using Kztek.Web.Core.Extensions
@model PageModel<CustomerComment>
<div class="col-xs-12">
	@Html.Raw(Html.TableFor<CustomerComment>
        ().Columns(column =>
        {
            column.Expression(p => p.Id).Title("Id").tdWidth("15");
            column.Expression(p => p.FullName).Title("FullName").tdWidth("20");
            //column.Expression(p => p.Avartar).Title("Avartar").tdWidth("10");
            //column.Expression(p => p.Summary).Title("Summary").tdWidth("10");
            //column.Expression(p => p.Description).Title("Description").tdWidth("10");
            //column.Expression(p => p.Ordering).Title("Ordering").tdWidth("10");
            column.Expression(p => p.DateCreated).Title("DateCreated").tdWidth("15");
            column.Expression(p => p.Active).Title("Active").tdWidth("15");
        }).DataSource(Model.Data).ToHtmlUpdate("lpCustomerComment", "table table-bordered table-hover", Url.Action("Update/", "CustomerComment",new { Id=string.Empty }), "", false)
    )
</div>
<!--Pagging-->
<div class="col-xs-12">
	<div id="AjaxPaging">
		@*GeneratePagingFooter*@
		@Html.GeneratePagingFooterAjax(Model.TotalPage, Model.TotalItem, Model.PageIndex, Model.PageSize, "pagination", x => Url.Action("Index", "CustomerComment", new
		{
			page = x,
			key = ViewBag.Key,
		}))
	</div>
</div>
