<div id="modalGateQuick" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="boxTitle"></h4>
            </div>
            <form role="form" id="frmGateQuick">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtGateName">Tên cổng:</label>
                        <input type="text" class="form-control" name="txtGateName" id="txtGateName">
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="SaveGate()">Save</button>
            </div>
        </div>
    </div>
</div>

